@font-face {
	font-family: 'Coolvetica';
	src: url('/web/20180104191234im_/http://taggrin.com/fonts/coolvetica.ttf') format('truetype');
}

@font-face {
	font-family: 'Squares';
	src: url('/web/20180104191234im_/http://taggrin.com/fonts/squares.otf') format('opentype');
}

a {
	color: #F4F4F4;
	text-decoration: none;
}

body {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	min-width: 1280px;
}

html {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: scroll;
	font-family: "Squares";
	text-shadow: 2px 2px 2px rgba(0,0,0,0.95);
	background-color: #467CA2;
	color: #F4F4F4;
}

.box {
	background-color: #96B5CA;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	padding: 10px;
}

.content {
	width: 960px;
	margin: auto;
	font-family: "Coolvetica";
	font-size: 150%;
	text-align: justify;
	margin: 130px auto auto auto;
}

.fonts {
	position: absolute;
	left: -1000px;
	visibility: hidden;
}

.header {
	background-color: #00355B;
	width: 100%;
	position: fixed;
}

.navbar {
	position: fixed;
	height: 67px;
	top: 10px;
	white-space: nowrap;
	margin-top: 8px;
}

.navbar img { 
	margin-left: 100px;
	position: absolute;
	left: 0;
	top: -3px;
}

#header-top {
	height: 4px;
	top: 0px;
}

#header-mid {
	background-color: #004A7F;
	height: 65px;
	top: 4px;
}

#header-bot {
	box-shadow: 0 3px 3px rgba(0,0,0,0.4);
	height: 15px;
	top: 69px;
}

#menu {
	position: fixed;
	margin-right: 100px;
	right: 0;
	top: 18px;
}

#menu a{
	color: #F4F4F4;
	font-size: 200%;
	margin: 0px 10px;
	padding: 15px 10px;
	text-align: center;
	text-decoration: none;
	
	-webkit-transition: background-color 0.5s linear;
	-moz-transition: background-color 0.5s linear;
	-o-transition: background-color 0.5s linear;
	-ms-transition: background-color 0.5s linear;
	transition: background-color 0.5s linear;
}

#menu a:hover {
	background-color: #00355B;
}

#title {
	font-family: "Squares";
	font-size: 225%;
	text-align: center;
}

#game-title {
	font-family: "Squares";
	font-size: 125%;
	text-align: center;
}

#game {
	margin: auto;
	width: 640px;
}

#preview {
	margin: auto auto 5px auto;
	padding-bottom: 5px;
	width: 500px;
}

#preview img{
	-webkit-transition: all 1s ease;
  	-moz-transition: all 1s ease;
  	-o-transition: all 1s ease;
  	-ms-transition: all 1s ease;
  	transition: all 1s ease;
}

#preview img:hover{
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	-ms-transform:scale(1.05);
	-o-transform:scale(1.05);
	transform:scale(1.02);
}
/*
     FILE ARCHIVED ON 19:12:34 Jan 04, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:48:32 Nov 08, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 193.207
  exclusion.robots: 0.114
  exclusion.robots.policy: 0.107
  RedisCDXSource: 9.23
  esindex: 0.007
  LoadShardBlock: 160.851 (3)
  PetaboxLoader3.datanode: 148.158 (4)
  CDXLines.iter: 20.732 (3)
  load_resource: 138.09
  PetaboxLoader3.resolve: 109.28
*/