{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Questionnaire 2: Section {{section_number}}
{% endblock %}
{% autoescape off %}
{% block content %}

    {% for field in form %}
        <!--
        {% formfield field %}
        -->  
        <div class='form-group'>
        {{ field.label | safe }}  
        {{ field }}
        {% if field.errors %}{{ field.errors.0 }}{% endif %}
        <br>
        <br>
        </div>

  {% endfor %}
  
  {% next_button %}

{% endblock %}
{% endautoescape %}

{% block scripts %}
<script>
document.addEventListener('keydown', function(ev) {
  if (ev.key === "Enter" && !(ev.target.tagName.toLowerCase() == 'textarea')) {
    ev.preventDefault();
    console.log(ev.target,ev.target.tagName.toLowerCase(),"ENTER-KEY PREVENTED ON NON-TEXTAREA ELEMENTS");
  }
});
</script>
{% endblock %}

{% block styles %}
<style>
    img {
        max-width: 80%;
    }
</style>
{% endblock %}