body {
  width: 100%;
  height: 100vh;
  background-image: 
  radial-gradient(circle at top right, rgb(142, 216, 250), transparent), 
  radial-gradient(circle at 20%   80%, rgb(87, 154, 255), transparent);
  overflow: hidden;
}
