.terminal {
    font-family: 'Inconsolata', monospace;
    background-color:rgba(255, 152, 238, 0.3);
    border-radius: 15px;
}

#terminal_container {
    float:right;    
    position:relative; /* IMPORTANT */
    /*border-style: solid;
    border-color: rgba(237, 165, 255, 0.9);
    border-radius: 10px;
    padding: 12px; */
    height: 100%;
    width: 20%;
}

#autocomplete_parent {
    display: grid;
    grid-template-columns: 1fr;
}
#autocomplete_parent div, #autocomplete_parent textarea { 
    grid-row-start: 1;
    grid-column-start: 1;
}


#terminal_input, #autocomplete {
    font-family: 'Inconsolata', monospace;
    border: 0; /* HAS TO BE SIMILAR TO #autocomplete */
    font-size:14px; /* HAS TO BE SIMILAR TO #autocomplete */
    padding:10px; /* IMPORTANT */
    background-color: transparent;
    
    /* FOR DESIGN PURPOSE */
    outline:0;
    width: 100%;
    border-top: 1px dotted rgba(255,255,255,0.3);
    border-bottom:1px solid rgba(255,255,255,0.3);
    /* ================== */
}
#terminal_input {
    padding-top: 9px;
}

#terminal_input::placeholder {
    color: #1a1a1a; /* FOR DESIGN PURPOSE */
}

#autocomplete {
    z-index: -1; /* IMPORTANT */
    color: rgba(204, 0, 255, 0.9);
}

.cmd {
   font-weight: bold;
}

.output {
    background-color:rgba(93, 255, 206, 0.1);
    border-radius: 15px;
    padding: 10px; 
    margin: 5px 3px;
}
