* {
    border-radius: 15px;
}
.terminal {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    background-color:rgba(255, 152, 238, 0.2);
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 15px;
    margin-left:-10px;
}
::-webkit-scrollbar-track {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    background: rgba(70, 175, 255, 0.5);
}
::-webkit-scrollbar-thumb {
    background: rgba(255,150,70, 0.8);
    border-radius: 15px;
    max-height: 80%;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 151, 71, 0.8);
}

#terminal_container {
    float:right;    
    position:absolute; /* IMPORTANT */
    /*border-style: solid;
    border-color: rgba(237, 165, 255, 0.9);
    border-radius: 10px;
    padding: 12px; */
    height: 98%;
    margin-left:74%;
    margin-right: 1%;
    width: 25%;
}
#toBottom {
    border-radius: 100%;
    width: 40px;
    height:40px;
    margin-left: 15%;
    position:fixed;
    border:none;
    z-index: 1;
}

/* 
#terminal_log {
    height: 100%;
}

#terminal_log_input, #terminal_log_output {
    height: 40%;
}*/

.logSegment {
    background-color:rgba(255, 152, 238, 0.5);
    padding: 5px; 
    margin: 5px;
    border:1px line black;
}

#autocomplete_parent {
    word-break: break-all;
    display: grid;
    grid-template-columns: 1fr;
    padding:5px;
    margin-right: 20px;
}

#terminal_input, #autocomplete {
    grid-row-start: 1;
    grid-column-start: 1;
    resize: none;
    font-family: 'Inconsolata', monospace;
    border: 0; /* HAS TO BE SIMILAR TO #autocomplete */
    font-size:14px; /* HAS TO BE SIMILAR TO #autocomplete */
    padding:10px; /* IMPORTANT */
    
    /* FOR DESIGN PURPOSE */
    outline:0;
    width: 100%;
}
#terminal_input {
    z-index: 1;
    padding-top: 10px;
    background-color: transparent;
    max-height: 17px;
    color:black;
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#terminal_input::placeholder {
    color: #1a1a1a; /* FOR DESIGN PURPOSE */
}

#autocomplete {
    background-color: rgba(255,150,70, 0.8);
    color: rgb(0, 145, 255);
    padding-top: 27px;
}

#autocomplete_parent > * > span.cmd {
    margin: 0 -6px;
}

#autocomplete_suggestions {
    color: rgb(0, 145, 255);
    user-select: none;
    grid-row-start: 1;
    grid-column-start: 1;
    font-family: 'Inconsolata', monospace;
    border: 0; /* HAS TO BE SIMILAR TO #autocomplete */
    font-size:14px; /* HAS TO BE SIMILAR TO #autocomplete */
    padding: 0 10px;
    margin: 44px 0px;
    overflow-y: auto;
    max-height: calc(17px * 4);
    width: fit-content;
    scroll-margin: 17px;
}

.logEntry {
    background-color:rgba(93, 255, 206, 0.1);
    padding: 10px; 
    margin: 5px 3px;
}
.input {
    background-color: rgba(255,150,70, 0.8);
}
.output {
    background-color: rgba(175, 143, 233,0.8);
    color: ivory;   
}
.error {
    background-color: rgba(255,70,82, 0.8);
    color: white;
}
.old {
 opacity: 0.7;  
 filter: saturate(0.7);
}

.collapsed {
    max-height: 50px;
    overflow-y: hidden;
    text-overflow: ellipsis; 
}
.blink {
    box-shadow: inset 0px 0px 10px 10px rgba(255,102,0, 1);
    filter:saturate(3);
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

.cmd {
    font-weight: bold;
    /* mix-blend-mode: darken; */ 
    background-color: rgb(90, 90, 90);
    color: white;
    padding: 0 6px;
}

.wordsAction {
    background-color: #d82f39;
}
.wordsFirst {
    background-color: rgb(12 168 147);
}
.wordsIfConditionLeft {
    background-color: #008504;
}
.wordsIfConditionRight {
    background-color: #008504;
}
.wordsBoolean {
    background-color: #6272a4;
}
.wordsToShow {
    background-color: #ff79c6;
}

.eat {
    background-color: #467a64 !important;
}

u {
    padding: 0 6px;
}

/*
BGDarker 	#282a36 	#282a36 	#282a36 	#282a36 	13.4
COLOR7 	#f8f8f2 	#f8f8f2 	#f8f8f2 	#f8f8f2 	1
SELECTION 	#44475a 	#44475a 	#c5c8de 	#c5c8de 	1.6
COLOR8 	#6272a4 	#6272a4 	#7e8ec2 	#7e8ec2 	3
COLOR6 	#8be9fd 	#8be9fd 	#007e90 	#007e90 	4.5
COLOR2 	#50fa7b 	#50fa7b 	#008504 	#008504 	4.5
ORANGE 	#ffb86c 	#ffb86c 	#a0651b 	#a0651b 	4.5
COLOR5 	#ff79c6 	#ff79c6 	#c13f8e 	#c13f8e 	4.5
COLOR4 	#bd93f9 	#bd93f9 	#855fbf 	#855fbf 	4.5
COLOR1 	#ff5555 	#ff5555 	#d82f39 	#d82f39 	4.5
COLOR3 	#f1fa8c 	#f1fa8c 	#6c7908 	#6c7908 	4.5
COLOR0 	#21222c 	#21222c 	#eaebf9 	#eaebf9 	1.1
COLOR1 	#ff5555 	#ff5555 	#d82f39 	#d82f39 	4.5
COLOR2 	#50fa7b 	#50fa7b 	#008504 	#008504 	4.5
COLOR3 	#f1fa8c 	#f1fa8c 	#6c7908 	#6c7908 	4.5
COLOR4 	#bd93f9 	#bd93f9 	#855fbf 	#855fbf 	4.5
COLOR5 	#ff79c6 	#ff79c6 	#c13f8e 	#c13f8e 	4.5
COLOR6 	#8be9fd 	#8be9fd 	#007e90 	#007e90 	4.5
COLOR7 	#f8f8f2 	#f8f8f2 	#f8f8f2 	#f8f8f2 	1
COLOR8 	#6272a4 	#6272a4 	#7e8ec2 	#7e8ec2 	3
COLOR9 	#ff6e6e 	#ff6e6e 	#cb4046 	#cb4046 	4.5
COLOR10 	#69ff94 	#69ff94 	#008525 	#008525 	4.5
COLOR11 	#ffffa5 	#ffffa5 	#727724 	#727724 	4.5
COLOR12 	#d6acff 	#d6acff 	#8762ae 	#8762ae 	4.5
COLOR13 	#ff92df 	#ff92df 	#b34b97 	#b34b97 	4.5
COLOR14 	#a4ffff 	#a4ffff 	#157f80 	#157f80 	4.5
WHITE 	#ffffff 	#ffffff 	#727272 	#727272 	4.5
TEMP_QUOTES 	#e9f284 	#e9f284 	#6c7907 	#6c7907 	4.5
TEMP_PROPERTY_QUOTES 	#8be9fe 	#8be9fe 	#007e91 	#007e91 	4.5
LineHighlight 	#44475a75 	#44475a75 	#c5c8de75 	#c5c8de75 	1.6
BGLighter 	#424450 	#424450 	#424450 	#424450 	9.1
WHITE 	#ffffff 	#ffffff 	#727272 	#727272 	4.5
TAB_DROP_BG 	#44475a70 	#44475a70 	#44475a70 	#44475a70 	8.6
BGLighter 	#424450 	#424450 	#424450 	#424450 	9.1
BGLight 	#343746 	#343746 	#343746 	#343746 	11.1
BGDarker 	#282a36 	#282a36 	#282a36 	#282a36 	13.4
BGDarker
*/


.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green, .plant {
    background-color: #006400;
}
.yellow {
    background-color: rgb(136, 116, 0);
} 
.orange {
    background-color: orangered;
}
.purple {
    background-color: purple;
}
.pink {
    background-color: magenta;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }