{{ block title }}
    Question {{subsession.round_number}} / {{C.NUM_ROUNDS}}
{{ endblock }}
{{ block content }}

    {% for field in form %}
        <!--
        {% formfield field %}
        -->    

        <p>{{field.label}}</p>
        <div style="display: flex">
                {{ for choice in field }}
                <div style="flex: 1; text-align: center">
                    {{ choice }}
                    <br>
                    <span style="text-align: center">{{ choice.label }}</span>
                </div>
                {{ endfor }}
        </div>
        
        {% if form.errors %}
            <div class="otree-form-errors alert alert-danger">
              {% if form.non_field_error %}
                {{ form.non_field_error }}
              {% else %}
                {{ "Please fix the errors."|gettext }}
              {% endif %}
            </div>
        {% endif %}{% if is_defined('js_vars') and js_vars %}<script>var js_vars = {{ js_vars }};</script>{% endif %}

        <br>
    {% endfor %}
    {{ next_button }}

{{ endblock }}
